.header-container {
  display: flex;
  flex-direction: row;
  height: 8%;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: white;
  font-weight: bold;
}

.search-buttons-and-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search-container {
  background-color: #1a1a1a;
  height: 35px;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.header-search-box {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.header-button {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  margin-right: 10px;
  border-radius: 50%;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
