.sidebar-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  width: 70px;
  padding: 15px;
}

.sidebar-menu-item {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #303030;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar-menu-item h5 {
  font-size: 12px;
  font-weight: 100;
}

.menu-button {
  background-color: #f4ffac;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button {
  position: absolute;
  bottom: 35px;
}

.icon {
  margin-bottom: 20px;
}
