.chat-window {
  background-color: red;
  height: 100%;
  width: 70%;
  border-radius: 20px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-window img {
  height: 35%;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  object-fit: cover;
}

.message-date{
    height: 20px;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
}

.message-date h5{
    color: white;
    font-size: 10px;
    font-weight: 100;
}